<div class="row">
	<div class="span12 centered">
		<h1 class="">Neighborhood Family Search</h1>

		<%= form_tag(query_path) do %>
			<input name="query" type="text" class="input-xlarge" placeholder='neighborhood search' autocomplete="on" />
			<br />
			<button type="submit" class="btn btn-primary btn-large">Search!</button>
		<% end %>

			
	</div>
</div>
